{% extends 'layout/base.html' %}
{% load static humanize %}
{% block content %}
<div class="container mx-auto">
    <div class="grid grid-cols-3 gap-10 py-10">
        <div class="col-span-2">                
            <div class="carousel relative shadow-2xl bg-white">
                <div class="carousel-inner relative overflow-hidden w-full">
                    {% for item in object.productimage_set.all %}
                        <input class="carousel-open" type="radio" id="carousel-{{forloop.counter}}" name="carousel" aria-hidden="true" hidden="" checked="checked">
                        <div class="carousel-item absolute opacity-0" style="height:50vh;">
                            <img class="mx-auto" src={{ item.image.url }} alt="">
                        </div>
                        {% if forloop.first %}
                        <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                        <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
                        {% elif forloop.last %}
                        <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                        <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
                        {% else %}                            
                        <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
                        <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label> 
                        {% endif %} 
                    {% endfor %}
                    {% for item in object.productimage_set.all %}
                    <ol class="carousel-indicators">
                        <li class="inline-block mr-3">
                            <label for="carousel-{{forloop.counter}}" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                        </li>
                    </ol>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="border-2 border-gray-300 rounded-lg p-2">
            <p class="text-xl font-semibold">
            {{ object.name|upper }}
            </p>
            <p class="text-3xl font-normal py-10">
            $ {{ object.price|intcomma }}
            </p>
            <p class="text-sm font-ligth py-20">
            {{ object.short_description }}
            </p>
        </div>
    </div>
</div>
{% endblock %}